.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
  letter-spacing: 0.15rem;
}
.title {
  font-size: 5rem;
  font-weight: medium;
  margin-top: 1rem;
}
#popEvents{
  margin-top: 5rem;
}
.credits {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.acronym {
  color:rgb(192, 127, 0);
  letter-spacing: 0.2rem;
}

.hplink {
  text-decoration: none;
  color: #4C3D3D;
}

.hplink:hover {
  color: coral;
}