#navbarContainer {
    background-color: rgba(255, 217, 90, 0.267);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-bottom: #4C3D3D;
    border-bottom: solid;
}

#appTitle {
    margin: 0;
    font-size: 2rem;
    color: #4C3D3D;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.navButton {
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    color: #4C3D3D;
    letter-spacing: 0.25rem;
    height: 2rem;
    margin: .25rem;
}

.navButton:hover{
    color: coral;
    cursor: pointer;
}

#appTitle {
    color: #4C3D3D;
}

#appTitle:hover {
    color: coral;
}

#searchCon {
    display: flex;
}

#navSearch {
    margin-right: 1rem;
    padding: 0.25rem;
    outline: none;
}

#navSearch:focus {
    outline: solid 0.025rem coral;
    color: #4C3D3D;
}